<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    
</head>
<body>
    @RenderBody()

    <script src="@Url.Content("~/Content/build/client.bundle.js")"></script>

    @Html.ReactInitJavaScript()
</body>
</html>
