<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    
</head>
<body>
    @RenderBody()

    <script src="@Url.Content("~/Scripts/react/react.js")"></script>
    <script src="@Url.Content("~/Scripts/react/react-dom.js")"></script>

    @Scripts.Render("~/bundles/react")
    @Html.ReactInitJavaScript(clientOnly: true)
</body>
</html>
